<h1>Welcome to Bugzilla</h1>

<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <a href="/projects/<%= project.id %>">
        <%= project.title %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/projects/new">New Project</a>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
